<style>
    
    nav {
        height: 80px;
    }

    #brand {
        border: 1px solid #343a40;    
        background-image: url('/media/brand.png/');
        background-size: cover;
        height: 70px;
        background-position: center;
        
    }

    #brand_wrapper{
        padding: unset;
    }

</style>

<nav class="navbar navbar-light bg-dark fixed-top shadow">
    <a href="" id="brand_wrapper" class="ml-4 ml-lg-n5 ml-sm-n4 col-10 col-sm-6 col-lg-4">
        <div id="brand">
            <h1 class="" style="visibility: hidden;">visibility:hidden</h1>
        </div>
    </a>
</nav>