<style>
    .container {
        padding: unset;
    }

    h1 {
        text-align: center;
    }

    @media only screen and (min-width : 400px) {
        label {
            margin-left: 40px;
        }

        .col2 {
            height: 300px;
        }
    }

    label {
        width: 50%;
    }

    #title_wrapper {
        background-color: #00cec9;
        border: #00cec9;
    }

    .col1 {
        padding: unset;

    }

    .col2 {
        padding: unset;
        
    }

    .i_username {
        margin: auto;
    }

    .i_user_id {
        margin: auto;
    }

    .i_pass {
        margin: auto;
    }

    #add_item_f {
        padding: unset;
    }

    #item_list_w {
        padding: unset;
    }

    .denom>button {
        border: none;
        outline: 0;
        border-top: 1px solid #00cec9;
        border-bottom: 1px solid #00cec9;
        width: 100%;
        transition: 0.3s;
    }

    .denom>button:focus {
        color: white;
        background-color: #00cec9;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #343A40;
        color: white;
        text-align: center;
    }
</style>